h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;

}

.brushes {
    background-color: mediumspringgreen;
    color: white; /* adjust as needed */
    text-align: center;
    padding: 20px; /* adjust as needed */
    width: 100%;
    box-sizing: border-box; /* this will ensure padding does not increase total width */

    }

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;;
}

.h3 {
    font-family: Helvetica;
    
}

.brushParagraph {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}

.image-container {
    background-image: url('images/pattern.jpeg');
    width: 500px; /* adjust as needed */
    height: 500px; /* adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px; /* adjust as needed */

  }
  
  .image-container p {
    color: white; /* adjust as needed */
  }
 
  
  
  .hacksaw {
    max-width: 100%; /* this makes sure the image doesn't overflow the container */
    margin: 10px 0; /* this gives some space above and below the image */
  }

  .hacksaw-header {
    color: black;
    font-weight: bold;
    text-align: left;
  }

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
  

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;

}

.finnishPaint {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}